.header {
  font-size: 2em;
}

.section-link {
  font-size: 1.5em;
  margin-left: 1%;
}

.sub-section-link {
  font-size: 1.2em;
  margin-left: 2%;
}

.section-link, .sub-section-link {
  cursor: pointer;
  color: black;
}

.section-link:hover, .sub-section-link:hover {
  color: #08073c;
  text-decoration: none;
}
