<div id="logo">
  <p class='logo-text'>What <em>really</em> make us safe?</p>
  <a [routerLink]="['splash']" class='logo-link'>
    <img src="/assets/images/box.jpg" alt="">
  </a>
</div>
<nav class='nav-menu'>
  <div class="nav-section nav-section_hidden">
    <a class="title-font" routerLink="/splash" [ngClass]="{'selected': routerBase ==='splash'}">
      Splash
    </a>
  </div>
  <div *ngFor="let section of nav" class="nav-section" [ngClass]='{"nav-section_sep": section.title=="Game Changers" || section.title=="Principles"} '>
    <div (click)="selectSection(section.id, section.title)" class="title-font" [ngClass]="{'selected': selectedNavId === section.id && routerBase !='splash' && routerBase}"> {{ section.title }} </div>
    <div *ngIf="selectedNavId === section.id && section.title !='Principles' && routerBase !=='splash' ">
      <a *ngFor="let sub of section.menu" class="sub-nav title-font" routerLink="/detail/{{section.title}}" fragment="{{sub.sectionHeader}}">
        {{ sub.sectionHeader }}
      </a>
    </div>
  </div>
</nav>
