div#logo > img {
  width: 70%;
  pading-top: -5px;
  margin: 30px 15% 0px 15%;
}

.nav-section {
  background-color: #CBDBDD;
  width: 100%;
  height: auto;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
}

.title-font {
  color: black;
}

.title-font:hover {
  color: black;
}

.nav-section:first-child {
  border-top: 0;
}

.title-font:hover, .sub-nav:hover, .selected {
  font-size: 1.1em;
  background-color: #ca8e99;
  color: black;
  cursor: pointer;
}

.sub-nav {
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1em;
  line-height: 35px;
  text-decoration: none;
}

.sub-nav:last-child {
  margin-bottom: 10px;
}
