:host {  background-color: #D4E1E1;}
.container {  cursor: pointer;  margin: 0 auto;}
.splash-logo > img {  width: 70%;  margin-left: 15%;}
.splash-text {  font-size: 3.1em;  width: 70%;  margin-left: 15%;  margin-bottom: 50px;}
