<div class="container vm" (click)="showNav()">
  <div class="title-font splash-text splash-text-en"> What <em>Really</em> Makes Us Safe? </div>
  <div class="splash-logo">
    <img src="/assets/images/logo_LG.jpg" alt="">
    <span class="logo-author">© Andrea Marcos</span>
  </div>
</div>
<!-- (click)='goGermHome()' -->
<a class="container" routerLink='/de' *ngIf='!subtitle' target="_blank">
  <div class="title-font splash-text splash-text-de">Was macht uns <em>wirklich</em> sicher?</div>
</a>
<p class='subtitle' *ngIf='subtitle'>Interviews with activists about <br> community alternatives to the criminal legal system <br> for addressing sexual & intimate partner violence</p>
