:host {
  background-color: #D4E1E1;
}
.container {
  cursor: pointer;
  margin: 0 auto;
}
.splash-logo > img {
  max-width: 100%;
  display: block;
}
.splash-logo{
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}
.logo-author{
  font-size: 14px;
  position: absolute;
  right: 25%;
  bottom: 10%;
  transform: rotate(-15deg)
}
.splash-text {
font-size: 3.1em;
width: 100%;
text-align: center;
margin-bottom: 50px;
transition: all .3s;
text-transform: lowercase;
}
.splash-text em {
  /*color: #709a98;*/
  font-family: 'Ubuntu', sans-serif;
}
.splash-text::first-letter{
  text-transform: uppercase;
}
.splash-text-de{
  width: 100%;
  margin-bottom: 0;
  margin-top: 50px;
}
.subtitle{
  margin-top: 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
@media only screen and (max-width: 1500px){
  .splash-text{
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 1360px){
  .splash-text{
    font-size: 2em;
  }
}
@media only screen and (max-width: 1200px){
  .title-font{
    font-size: 2em;
  }
  .logo-author{
    position: static;
    transform: none;
  }
}
