/deep/ * {
  font-family: 'Crimson Text', serif;
}

/deep/ .title-font {
  font-family: 'Ubuntu', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

/deep/ * {
  font-family: 'Roboto', sans-serif;
}


/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/deep/ * {
  font-family: 'PT Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/deep/ * {
  font-family: 'Source Sans Pro', sans-serif;
}*/

/*Oswald alt to Lorimer No 2*/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&subset=latin-ext');
/deep/ *{
  font-family: 'Oswald', sans-serif;
}

/*Montserrat alt to Proxima nova*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');
/deep/ *{
  font-family: 'Montserrat', sans-serif;
}*/


/deep/ .title {
   font-family: 'Ubuntu', sans-serif;
}
/deep/ app-german{
  width: calc(100% - 300px);
  margin-left: 300px;
  max-width: 100%;
  display: block;
}
/deep/ app-nav {
  position: fixed;
  overflow-y: auto;
  z-index: 100;
  overflow-x: visible;
  left: 0;
  width: 300px;
  max-width: 100%;
  height: 100%;
  background-color: #CBDBDD;
  box-shadow: 1px 1px 15px rgba(0,0,0,.7);
  transition: all .3s;
}

/deep/ app-detail {
  display: block;
  width: calc(100% - 300px);
  max-width: 100%;
  margin-left: 300px;
  height: 100%;
  padding: 5%;
}

/deep/ app-splash {
   min-height: 100vh;
   /*height: 100%;*/
   display: block;
   width: calc(100% - 300px);
   padding: 30px 3%;
   padding-top: 14vh;
   z-index: 1000;
   transition: all .3s;
   margin-left: 300px;
   max-width: 100%;
 }
 /deep/ .nav-hidden app-splash{
  width: 100%;
  margin-left: 0;
 }
/deep/ .nav-hidden .splash-text{
  text-align: left !important;
}
/deep/ .nav-hidden .splash-text.splash-text-de{
  text-align: right !important;
}
 /deep/ .nav-hidden app-nav{
  transform: translateX(-100%);
 }
/deep/ .modal-header-de{
  justify-content: flex-end;
}
/deep/ .modal-header-de button{
  display: inline-block;
  font-size: 20px;
}
/deep/ .modal-body-de img{
  max-width: 100%;
}
.nav-toggler{
  height: 30px;
  width: 30px;
  padding: 7px 5px;
  position: fixed;
  background-color: #709a98;
  left: 0;
  z-index: 10;
  display: none;
  top: 0;
  cursor: pointer;
  transition: all .3s;
}
.nav-toggler_visible{
  left: 270px;
}
.nav-toggler__line{
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.nav-toggler__line:nth-of-type(2){
  margin: 5px 0;
}
@keyframes nav-top-line{
  25%{
    transform: translateY(7px)
  }
  to{
    transform: translateY(7px) rotate(45deg)
  }

}
@keyframes nav-bottom-line{
  25%{
    transform: translateY(5px)
  }
  to{
    transform: translateY(5px) rotate(-45deg)
  }

}
  @media only screen and (max-width: 1500px){
    /deep/ app-splash{
      padding-top: 2vh;
      padding-bottom: 2vh;
    }
  }
 @media only screen and (max-width: 1200px){
  app-nav{
    transform: translateX(-100%);
  }
  app-nav.nav_visible{
    transform: translateX(0%);
  }
  /deep/app-detail{
    width: 100%;
    margin-left: 0;
  }
  /deep/ app-german{
    width: 100%;
    margin-left: 0;
  }
  .nav-toggler{
    display: block;
    z-index: 101;
  }
  .nav-toggler_visible .nav-toggler__line:nth-of-type(2){
    display: none;
  }
  .nav-toggler_visible .nav-toggler__line:first-of-type{
    animation-name: nav-top-line;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .nav-toggler_visible .nav-toggler__line:last-of-type{
    animation-name: nav-bottom-line;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}
