/deep/ * {
  font-family: 'Crimson Text', serif;
}

/deep/ .title-font {
  font-family: 'Ubuntu', sans-serif;
}

/deep/ .title {
   font-family: 'Ubuntu', sans-serif;
}

app-nav {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #CBDBDD;
}

/deep/ app-detail {
  position: fixed;
  left: 20%;
  height: 100%;
  width: 80%;
  padding: 5%;
  overflow-y: scroll;
}

/deep/ app-splash {
   position: fixed;
   height: 100%;
   width: 100%;
   padding: 3%;
   z-index: 1000;
   overflow-y: scroll;
 }

