/deep/ * {
  font-family: 'Crimson Text', serif;
}

/deep/ .title-font {
  font-family: 'Ubuntu', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

/deep/ * {
  font-family: 'Roboto', sans-serif;
}


/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/deep/ * {
  font-family: 'PT Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/deep/ * {
  font-family: 'Source Sans Pro', sans-serif;
}*/

/deep/ .title {
   font-family: 'Ubuntu', sans-serif;
}

app-nav {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #CBDBDD;
}

/deep/ app-detail {
  position: fixed;
  left: 20%;
  height: 100%;
  width: 80%;
  padding: 5%;
  overflow-y: scroll;
}

/deep/ app-splash {
   position: fixed;
   height: 100%;
   width: 100%;
   padding: 3%;
   z-index: 1000;
   overflow-y: scroll;
 }

