.header {
  color: #709a98;
  font-size: 4.5em;
  margin: 10px 0 12px 0;
}
.person-photo{
  max-width: 150px;
}
.detail-container {
  margin: 0 2.5% 3% 2.5%;
}

.homepage-content, .question-content {
  /*margin: 0 1.25%;*/
}

.question-content > .about-title {
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1% 0;
}
.about-title *{
  font-family: 'Ubuntu', sans-serif;
}
.question-content > .title {
  font-size: 2em;
  font-style: italic;
  text-shadow: none;
  color: #709a98;
  margin: 1% 0;
}
.img-container{
  text-align: center;
}
/deep/.fl{
  display: block;
  text-align: right;
}
/deep/ .pseudo-title{
  font-size: 42px;
  font-style: italic;
  line-height: 1.2em;
  text-shadow: none;
  color: #709a98;
  margin: 1% 0;
  margin-top: 1em;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}
.video-frame{
  width: 700px;
  max-width: 100%;
  margin: 20px auto;
  position: relative;
}
.video-frame__img{
  position: relative;
  visibility: hidden;
  max-width: 100%;
}
.video-frame__video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.question-decor{
  color: #e8b314;
  font-style: normal;
}
.quote-box .title-font{
   /*text-shadow: 0px 0px 2px black;*/
}
.quote-box{
  font-family: 'Ubuntu', sans-serif;
}
.modal-title.title-font{
  text-shadow: none;
  display: flex;
  align-items: center;
}
.modal-title.title-font a{
  color: black;
  text-decoration: underline;
}
.question-content > .question {
  font-size: 1.1em;
  line-height: 2em;
  margin: 2.5%;
}
.question-content > .title-font-bg{
  font-size: 2.6em;
}
.accardion .title,
.accardion-v2 .title-font{
  color: #fff;
  color: #fff;
  background-color: #709a98;
  text-transform: lowercase;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.8em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.accardion .title::first-letter,
.accardion-v2 .title-font::first-letter{
  text-transform: uppercase;
}
.accardion .question,
.accardion-v2 .question,
.accardion-v2+.question-quote-container{
  display: none;
}
.accardion-about .question{
  margin: 2.5%;
  font-size: 1.1em;
  line-height: 2em;
}
.accardion-about{
  margin-bottom: 20px;
}
/*.question-content > .title-font-bg+*{
  display: none;
}*/
.quote-box {
  width: 20%;
  height: 13vw;
  margin: 2.5%;
  border: 1px solid #c1c1c1;
  display: inline-block;
  overflow: hidden;
}
.new-quote-box{
  display: inline-block;
  width: 20%;
  margin: 2.5%;
  vertical-align: top;
}
.new-quote-box-read{
  text-align: center;
}
.new-quote-box .quote-box{
  width: 100%;
  margin: 0;
}
.quote-box:hover {
  opacity: 0.8;
  border: 1px solid #bf2020;
  cursor: pointer;
}

.initial, .tagline {
  height: 13vw;
}

.initial {
  line-height: 13vw;
  font-size: 3.35em;
  font-style: italic;
  text-align: center;
}

.tagline {
  padding: 1em;
  font-size: 1.4em;
  text-align: center;
  display: none;

}

.quote-box:hover > .initial {
  display: none;
}

.quote-box:hover .tagline {
  display: block;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.modal-body > p {
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 0em 2em 1em 2em;
}

.modal-title {
  padding-left: 1em;
  font-size: 2.2em;
}

.close {
  padding-right: 1em;
  align-self: flex-start;
}

app-detail-menu {
  display: block;
  margin-bottom: 30px;
}

.rollover {
  color: #014C8C;
  text-decoration: none;
  cursor: pointer;
}

.rollover:hover {
  text-decoration: underline;
}

a {
  color: #014C8C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.unitalic {
  font-style: normal !important;
}
.person-photo-container{
  margin-right: 10px;
}
.person-photo-container_double{
  display: inline-block;
  min-width: 310px;
}
@media only screen and (max-width: 1200px){
  .new-quote-box,
  .question-quote-container .quote-box{
    width: 30%;
    margin: 1%;
  }
  .question-quote-container .new-quote-box .quote-box{
    width: 100%;
  }
  .quote-box,
  .tagline{
    height: 20vw;
  }
  .initial{
    height: 20vw;
    line-height: 20vw;
  }
}
@media only screen and (max-width: 1100px){
  .quote-box .initial{
    display: none;
  }
  .quote-box .tagline{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1000px){
  .question-quote-container{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .new-quote-box,
  .question-quote-container .quote-box{
    width: 48%;
    margin: 1%;
  }
  .quote-box,
  .tagline{
    height: 30vw;
  }
  .initial{
    height: 30vw;
    line-height: 30vw;
  }
  .header{
    font-size: 3em;
  }
  .question-content>.title{
    font-size: 1.6em;
    line-height: 1.2em;
  }
  .accardion>.title{
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px){
  .new-quote-box,
  .question-quote-container .quote-box{
    width: 100%;
    margin: 0%;
  }
  .quote-box,
  .tagline{
    height: 60vw;
  }
  .initial{
    height: 60vw;
    line-height: 30vw;
  }
}
