<div #container class="container">
  <div class="header title-font">
    {{ selectedDetail?.navTitle }}
  </div>

  <div class="detail-container" *ngIf="selectedDetail?.navTitle !== 'About'">
    <app-detail-menu [menu]="selectedDetail.menu"></app-detail-menu>
    <div class="question-blocks" *ngFor="let question of selectedDetail.questions">
      <div id="{{ question.title }}" class="question-content">
        <div class="title title-font">
          {{ question.title }}
        </div>
        <div class="question">
          {{ question.question }}
        </div>
      </div>
      <div class="question-quote-container">
        <div *ngFor="let quote of question.quotes"
             class="quote-box"
             [ngStyle]="{'background-color': getPerson(quote.personId).color, 'color': getPerson(quote.personId).fontColor}"
             (resize)="onResize($event)"
             (click)="openQuoteModal(content, quote)">
          <div class="initial title-font">
            {{ getPerson(quote.personId).shortName }}
          </div>
          <div class="tagline title-font">
            {{ quote.tagline }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-container" *ngIf="selectedDetail?.navTitle === 'About'">
    <app-detail-menu [menu]="selectedDetail.menu"></app-detail-menu>
    <div class="question-content">
      <div id="Beginnings" class="title">Beginnings</div>
      <div class="question">
        This research project began as an informal exchange between activists and organizers working on community accountability & transformative justice (CA-TJ) responses to sexual violence. Our fledgling
        <a href="https://www.transformativejustice.eu/en/">transformative justice collective in Berlin, Germany</a> was geographically far from the mothership of CA-TJ thought and organizing in the U.S. Dialoguing with those who had created and refined this work became a mode of both giving and taking account of one another.
        <br>
        After co-founding the collective, I went back to school in order to chew on some of the theoretical underpinnings of CA-TJ practice. What does it mean to be accountable after all? And who or what is a community? That informal exchange expanded into a participatory research project in 2013 as the foundations of a Master’s thesis.
      </div>
      <div id="Participatory Action Research" class="title">Participatory Action Research</div>
      <div class="question">
        <a href="http://www.incite-national.org/page/participatory-action-research">Participatory action research</a> is an approach that understands all participants in a research process to be co-creators of the project’s goals, methods, and outcomes. In my interviews, the dialogues that developed offered an opportunity to collectively think through questions emerging out of our community accountability practice. Interview partners shared organizational materials, connected me with other activists, and even read parts of my thesis.
        <br>
        This research project was not fully participatory from start to finish. Participants were scattered across the U.S. and Canada, and we could not meet at one table. Political work put limits on their time. The research took the shape more of a net weaving from one node of organizing to another. A set of questions and thoughts developed in one conversation was carried into the next to be workshopped again. This is reflected aesthetically in the mind-map structure of this site.
      </div>
      <div id="Who was involved?" class="title">Who was involved?</div>
      <div class="question">
        All in all, 15 activist-thinkers gave interviews. You can read the full biographies of the participants, and all their quotes in one place, here. (insert link to “Meet the Folks Doing the Work”)
        <br>
        Many of the project interviewees have some background in anti-violence work within non-profits and/or self-organized groups. They also hold a wide range of other roles as community organizers, consultants, academics, writers, and so on. Project participants identified with various communities, particularly queer communities and communities of color, though the project also included a fair number of white anti-racist allies. Most interviewees are from the U.S., with the East and West Coast strongly represented (as always), and two who have worked in Canada, England, and Australia.
        <br>
        Most interviews were carried out by me (Melanie) and two were conducted by comrades from the Transformative Justice Kollektiv Berlin while visiting New York and Philadelphia as part of an educational trip in 2014.
      </div>
      <div id="What were the results?" class="title">What were the results?</div>
      <div class="question">
        Obviously, this website!
        <br>
        The aim of the project was to produce something both academic and useful to other practitioners. Some of the academic results of this research can be found here, and an executive summary of the thesis is here (insert extra page on the site to house this doc). Because many of my interviewees mentioned the need to archive and document this work, this site contributes to efforts to record and amplify the oral histories of the CA-TJ movement.
      </div>
      <div id="Different approach: Vertical, instead of horizontal" class="title">Different approach: Vertical, instead of horizontal</div>
      <div class="question">
        Many accounts of CA-TJ work currently out there offer narratives of one organization/group of friends/community/classroom. Often these stories follow narrative arcs of ups and downs, of various players and their interactions, as they move through one accountability & support process. This website approaches CA-TJ work differently: by cutting it vertically rather than horizontally. Rather than looking at full stories, the website gathers several voices and hears what they each have to say about the same general question: What is a community after all? How do we get people to change? Where is the movement headed?
      </div>
      <div id="How to navigate the site" class="title">How to navigate the site</div>
      <div class="question">
        To access these questions, one navigates through various “chapters” based on one aspect of INCITE! Women of Color's four-clover diagram of the community accountability concept: (link to diagram in the “Genealogies & Future” section)
        (link each of the following 4 to their respective sections of the site)
        <ul>Survivors</ul>
        <ul>Perpetrators</ul>
        <ul>Communities</ul>
        <ul>underlying structures – “Carceral to Transformative”</ul>
        These are supplemented by “Meet the Folks Doing the Work,” which gives biographies and personal stories, and “Movement Genealogies and Futures,” which puts the movement in its historical and sociological context. (link these 2 to their respective sections of the site)
        <br>
        The “Meet the Folks Doing the Work”, Survivor, Perpetrator, and Community sections focus on interviewee's praxis. “Movement Genealogies and Futures” and “Carceral to Transformative” focus more on the principles behind the work. In the latter two, I include quotes from other movement figures not directly interviewed in order to contextualize what my interviewees have said.
      </div>
      <div id="Note on accessibility:" class="title">Note on accessibility:</div>
      <div class="question">
        I've been a teacher at a democratic, social-justice oriented school in Berlin for the past 8 years. Teaching English to non-traditional students has required me to explain things like Foucault, black nationalism, Freud, or the “trans tipping point” in non-technical vocabulary. This has convinced me that complex ideas can be broken down into simple, accessible language (without losing their poetry) for people who haven't read the same books as me. This site attempts to use such accessible language for discussing the complex social theory behind the CA-TJ movement.
      </div>
      <div id="What’s the German language part of the site?" class="title">What’s the German language part of the site?</div>
      <div class="question">
        You may have noticed that this site includes a German language section. This is not a simple translation of this project into German. It’s actually a different, but related project that travels under the same name in German.
        <br>
        The German project brings what was learned from these into the Berlin context through a <a href="https://www.transformativejustice.eu/en/carceral-feminisms-and-transformative-alternatives-seminar/">seminar</a> I taught with local activists and a
        <a href="https://www.youtube.com/watch?v=zuWdof5hJWo">public discussion</a> we co-organized called "What would really make us safe?" (“Was macht uns wirklich sicher?”). This culminated in a toolkit for activists that examines intersections of state violence and violence against women, queer, and trans folks in Germany, as well as community-based alternatives.
      </div>
    </div>
  </div>
</div>

<template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title title-font">{{ getPerson(selectedQuote.personId).name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ selectedQuote.quote }}</p>
  </div>
</template>
