.header {
  font-style: italic;
  font-size: 3em;
  margin: 0 0 5% 0;
}

.detail-container {
  margin: 0 2.5% 3% 2.5%;
}

.homepage-content, .question-content {
  /*margin: 0 1.25%;*/
}

.question-content > .title {
  font-size: 2em;
  margin: 1% 0;
}

.question-content > .question {
  font-size: 1.1em;
  line-height: 2.5em;
  margin: 2.5%;
}

.quote-box {
  width: 25%;
  height: 16vw;
  margin: 2.5%;
  border: 1px solid #888;
  display: inline-block;
  overflow: hidden;
}

.quote-box:hover {
  opacity: 0.8;
  border: 1px solid red;
  cursor: pointer;
}

.initial {
  height: 16vw;
  line-height: 16vw;
  font-size: 5.5em;
  font-style: italic;
  text-align: center;

}

.tagline {
  height: 60%;
  font-size: 1em;
  visibility: hidden;
}

.modal-body > p {
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 0em 2em 1em 2em;
}

.modal-title {
  padding-left: 1em;
  font-size: 2.2em;
}

.close {
  padding-right: 1em;
}
