/*!* You can add global styles to this file, and also import other style files *!*/
.modal-backdrop.fade {
  position: fixed;
  opacity: 0.8 !important;
  height: 100%;
  width: 100%;
  background: black;
}
body,
html{
  max-width: 100%;
  overflow-x: hidden;
}
img{
  max-width: 100%;
}
.modal {
  top: 5%;
}
*:not(.modal) a{
  color: #2f2fff;
}
.modal-body a{
  /*color: black;
  text-decoration: underline;*/
  color: #2f2fff;
}
app-root{
  display: block;
  position: relative;
}
/**{
  font-weight: 300;
}*/
.modal-body *,
.modal-title,
.modal-title * {
  font-family: 'Ubuntu', sans-serif;
}
em{
  font-family: inherit;
}
.non-italic{
  /*font-style: normal !important;*/
  color: #384645;
  text-decoration: underline;
}
