/*!* You can add global styles to this file, and also import other style files *!*/
.modal-backdrop.fade {
  position: fixed;
  opacity: 0.8 !important;
  height: 100%;
  width: 100%;
  background: black;
}

.modal {
  top: 5%;
}
*:not(.modal) a{
  color: #2f2fff;
}
.modal-body a{
  color: black;
  text-decoration: underline;
}
